{% extends "base.html" %}
{% block content%}
<!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="user-dashboard loader-holder " style="min-height:auto !important; width:450px !important;">
								<div class="user-holder">
                            <h4 class="text-center" style="margin-bottom: 0;">ورود</h4>
                            <p class="text-center">کاربر عزیز خوش آمدید  </p>
                            <hr>
                            <div id="restaurant-sets-holder">
                                <form action="{% url 'login' %}" class="form-fields-set foodbakery-dev-restaurant-form text-right" method="post"  >
                                    {% csrf_token %}
                                    <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>ایمیل آدرس</label>
                                                                        <input type="email" name="email" placeholder="ایمیل آدرس وارد نمایید"> </input>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="field-holder">
                                                                        <label>رمز </label>
                                                                        <input type="Password" name="password" placeholder="گزرواژه را وارد نمایید"> </input>

                                                                    </div>
                                                                </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <div class="payment-holder d-flex justify-content-between">
                                                            <input type="submit" value="ورود" id="btn-next-restaurant-information" class="bg-primary">
                                                            <a href="{% url 'forgot_password' %} "class="float-right">رمرز خود را فراموش کرده اید؟</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" syle="text-align: center">
                                                    <!-- load message -->
                                                     
                                                    {% include "includes/alerts.html" %}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->

{% endblock content%}